version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "sunday"
    time: "08:00"
  open-pull-requests-limit: 3
  labels:
  - "dependencies"
  - "automerge"
  commit-message:
    prefix: "chore"
    include: "scope"
  groups:
    github-actions:
      patterns:
      - "*"
- package-ecosystem: "docker"
  directory: "/.devcontainer"
  schedule:
    interval: "daily"
  labels:
  - "dependencies"
  - "automerge"
  commit-message:
    prefix: "chore"
    include: "scope"
